<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" href="/styles/modules/module1.css">
  <title>Search Books</title>
</head>
<body id="newSearchPage">
  <header>
    <h2>Best Books!</h2>
  </header>
  <div id="centerForm">

    <h3>Search by Title or Author</h3>
    <form action="/searches" method="POST" id="bookSearch">
      <fieldset >
        <!-- <legend> -->
          <!-- <label for="searchBy">Type your search here</label> -->
          <input type="text" name="bookSearch" id="searchBy" placeholder="Enter a title or author">
          <div id="radioButtonDiv1">
            <label >Title</label>
            <input type="radio" name="search" id="title" value="title">
          </div>
          <div id="radioButtonDiv2">
            <label for="author">Author</label>
            <input type="radio" name="search" id="author" value="author">
          </div> 
          <input type="submit" value="click here">
        <!-- </legend> -->
      </fieldset>
    </form>
  </div>
</body>
</html>