<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" href="/styles/modules/module1.css">
  <title>Search Books</title>
</head>
<body id="userSigninPage">
  <header>
    <h2>Best Books!</h2>
  </header>
  <div id="centerForm">

    <h3>User Sign IN</h3>
    <form action="/signIn" method="POST" id="signIn">
      <fieldset >
        <legend>
          <input type="text" name="username" id="searchBy" placeholder="Enter username">
          <input type="text" name="password" id="searchBy" placeholder="Enter password">
          <input type="submit" value="submit">
        </legend>
      </fieldset>
    </form>
  </div>
</body>
</html>