* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
  height: 100%;
  min-height: 100vh;
}

h1 {
  text-align: center;
  font-size: 48px;
  color: white;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
